---
http_interactions:
- request:
    method: get
    uri: https://public-api.lykke.com/api/Market
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
<<<<<<< HEAD
<<<<<<< HEAD
      - Fri, 29 Dec 2017 12:38:18 GMT
=======
      - Tue, 23 Jan 2018 15:43:48 GMT
>>>>>>> 3c6a963... Added Trades
=======
      - Tue, 23 Jan 2018 15:43:48 GMT
>>>>>>> 3c6a963... Added Trades
      Content-Type:
      - application/json; charset=utf-8
      Transfer-Encoding:
      - chunked
      Connection:
      - close
      Request-Context:
      - appId=cid-v1:f3d21ed7-805d-4d78-b43f-15f9702ec589
      Access-Control-Allow-Origin:
      - "*"
      Access-Control-Allow-Credentials:
      - 'true'
      Access-Control-Allow-Methods:
      - GET, POST, OPTIONS
      Access-Control-Allow-Headers:
      - Content-Type, Accept
    body:
      encoding: UTF-8
<<<<<<< HEAD
<<<<<<< HEAD
      string: '[{"assetPair":"AUDUSD","volume24H":2022.48,"lastPrice":0.78025,"bid":0.78147,"ask":0.78148},{"assetPair":"BTCCHF","volume24H":203735.54999999976,"lastPrice":14799.0,"bid":14450.0,"ask":14750.0},{"assetPair":"BTCEUR","volume24H":144526.8499999998,"lastPrice":12899.6,"bid":12674.832,"ask":12899.6},{"assetPair":"BTCGBP","volume24H":9446.95,"lastPrice":11798.0,"bid":11025.0,"ask":11500.0},{"assetPair":"BTCJPY","volume24H":129590.51999999997,"lastPrice":1703566.3,"bid":1620704.79,"ask":1738486.0},{"assetPair":"BTCLKK","volume24H":237585.97000000026,"lastPrice":67500.0,"bid":67500.0[...]
- request:
    method: get
    uri: https://public-api.lykke.com/api/AssetPairs/dictionary
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
<<<<<<< HEAD
<<<<<<< HEAD
      - Fri, 29 Dec 2017 12:38:19 GMT
=======
      - Tue, 23 Jan 2018 15:43:48 GMT
>>>>>>> 3c6a963... Added Trades
=======
      - Tue, 23 Jan 2018 15:43:48 GMT
>>>>>>> 3c6a963... Added Trades
      Content-Type:
      - application/json; charset=utf-8
      Transfer-Encoding:
      - chunked
      Connection:
      - close
      Request-Context:
      - appId=cid-v1:f3d21ed7-805d-4d78-b43f-15f9702ec589
      Access-Control-Allow-Origin:
      - "*"
      Access-Control-Allow-Credentials:
      - 'true'
      Access-Control-Allow-Methods:
      - GET, POST, OPTIONS
      Access-Control-Allow-Headers:
      - Content-Type, Accept
    body:
      encoding: UTF-8
<<<<<<< HEAD
<<<<<<< HEAD
      string: '[{"id":"AUDUSD","name":"AUD/USD","accuracy":5,"invertedAccuracy":5,"baseAssetId":"AUD","quotingAssetId":"USD"},{"id":"BTCCHF","name":"BTC/CHF","accuracy":3,"invertedAccuracy":8,"baseAssetId":"BTC","quotingAssetId":"CHF"},{"id":"BTCEUR","name":"BTC/EUR","accuracy":3,"invertedAccuracy":8,"baseAssetId":"BTC","quotingAssetId":"EUR"},{"id":"BTCGBP","name":"BTC/GBP","accuracy":3,"invertedAccuracy":8,"baseAssetId":"BTC","quotingAssetId":"GBP"},{"id":"BTCJPY","name":"BTC/JPY","accuracy":2,"invertedAccuracy":8,"baseAssetId":"BTC","quotingAssetId":"JPY"},{"id":"BTCLKK","name":"BTC/LYKKE","accuracy":2,"inver[...]
